/database/preprocessing/ufodata/*.csv
node_modules
debug.html
backend/src/__pycache__/

database/preprocessing/converted.csv
database/preprocessing/converted.geo.json

doc/projectProposal.aux
doc/projectProposal.fdb_latexmk
doc/projectProposal.fls
doc/projectProposal.log
doc/projectProposal.synctex.gz
