<div id="legend">
  <mat-accordion *ngIf="legend.length >= 0">
    <mat-expansion-panel *ngFor="let shape of legend; trackBy: trackShape">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ shape.key }}</mat-panel-title>
        <mat-panel-description>
          {{ shape.reports.length }}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="scroll">
          <ufo-report
            *ngFor="let report of shape.reports"
            [data]="report"
            [color]="service.colorScale(shape.key)"
          ></ufo-report>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div
  leaflet
  [leafletOptions]="options"
  [leafletLayers]="layers"
  [leafletLayersControl]="layersControl"
  [leafletMarkerCluster]="markerClusterData"
  [leafletMarkerClusterOptions]="markerClusterOptions"
  (leafletMarkerClusterReady)="markerClusterReady($event)"
  id="map"
></div>
<app-config></app-config>
<time-slider></time-slider>
