$overmap: 9999;

#map {
  width: 100vw;
  height: 100vh;
}

#legend {
  position: fixed;
  bottom: 8px;
  right: 7px;
  width: max-content;
  height: max-content;
  max-height: 60vh;
  overflow: auto;
  background: #ffffff3b;
  z-index: $overmap;
  @media screen and (max-width: 600px) {
    bottom: 77px;
    right: 25px;
  }
}

#airports {
  display: flex;
  flex-direction: row;
  width: 92%;
  background-color: black;
  margin-bottom: 10px;
  padding: 5px;
  color: white;
  border-radius: 15px;
  div {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 25px;
    }
  }
}

mat-panel-title,
mat-panel-description {
  text-shadow: 0px 0px 5px #000000c2;
}

.scroll {
  overflow: auto;
  max-height: 35vh;
  margin: 5px 0;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

time-slider {
  position: fixed;
  bottom: 8px;
  left: 0;
  right: 0;
  z-index: $overmap;
}
