<div id="legend" *ngIf="showLegend">
  <span>{{ range.min }}</span>
  <img #legend *ngIf="gradientImg" [src]="gradientImg" />
  <span>{{ range.max }}</span>
</div>
<div leaflet [leafletOptions]="options" [leafletLayers]="layers" [leafletLayersControl]="layersControl" [leafletMarkerCluster]="markerClusterData"
     [leafletMarkerClusterOptions]="markerClusterOptions"
     (leafletMarkerClusterReady)="markerClusterReady($event)" id="map"></div>
<app-config></app-config>
<time-slider></time-slider>
