<div id="legend">
  <div id="airports" *ngIf="airportlegend.length >= 0">
    <div *ngFor="let airport of airportlegend">
      <img [src]="getAirportIconByType(airport.type)" [alt]="airport.type" />
      <span>{{ airport.count }}</span>
    </div>
  </div>
  <mat-accordion *ngIf="legend.length >= 0">
    <mat-expansion-panel
      [btnColor]="service.colorScale(shape.key)"
      *ngFor="let shape of legend; trackBy: trackShape"
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <span> {{ shape.key }} </span>
          <span> {{ shape.reports.length }} </span>
        </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <div class="scroll">
          <ufo-report
            *ngFor="let report of shape.reports"
            [data]="report"
          ></ufo-report>
        </div>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div
  leaflet
  [leafletOptions]="options"
  [leafletLayers]="layers"
  [leafletLayersControl]="layersControl"
  [leafletMarkerCluster]="markerClusterData"
  [leafletMarkerClusterOptions]="markerClusterOptions"
  (leafletMarkerClusterReady)="markerClusterReady($event)"
  id="map"
></div>
<app-config></app-config>
<time-slider></time-slider>
